@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Open+Sans&display=swap');

:root {
    --azul-1: #C0D4DF;
    --azul-2: #91C7E5;
    --azul-3: #6AABCE;
    --azul-4: #005684;
    --azul-5: #140431;
    --white: #EAEAEA;
    --black: #000000;
    --font-style: 'Josefin Slab', serif;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: var(--font-style);
    background: linear-gradient(to left bottom, var(--azul-3) 50%, var(--azul-2) 50%);
}

header {
    width: 100%;
    height: 20%;
    display: flex;
}

a {
    width: 50%;
    margin: auto 0;
}

h1 {
    padding: 1rem 0 1rem 2rem;
}

img.logo {
    max-height: 5rem;
}

.container-input {
    width: 50%;
    display: flex;
}

.input {
    margin: auto;
    margin-right: 3rem;
    align-items: center;
    width: 70%;
    display: flex;
    border-radius: 20px;
    border: 2px outset var(--azul-3);
    justify-content: space-between;
    background-color: var(--white);
    
}

#input-personagem {
    background-color: var(--white);
    border-radius: 30px;
    padding: 0.5rem 0 0.5rem 1rem;
    width: calc(100% - 1.5rem - 2rem);
    border: none;
}

.fa-solid {
    font-size: 1.25rem;
    padding: 0 1rem;
    color: var(--azul-5);
}

#busca:hover {
    cursor: pointer;
    color: var(--azul-4);
    transform: scale(1.3);
}

.principal {
    background-color: var(--white);
    margin: 1rem 3rem;
    padding: 2rem 3rem;
    border-radius: 30px;
}

h2 {
    font-size: 1.25rem;
    text-align: justify;
    line-height: 2.3rem;
    font-family: 'Open Sans',sans-serif;
}

.api {
    margin: 2rem 0;
    display: none; /*display: block*/
    height: fit-content;
    background-color: var(--azul-1);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#name-api {
    background-color: var(--azul-4);
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    border-top-left-radius: 50px;
    padding: 1rem;
}

.texto-api {
    display: flex;
}

#img-link-api {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.div-img {
    width: 30%;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#img-api {
    border-radius: 50%;
    border: 5px var(--azul-3) inset;
    max-height: 100%;
}

#movies-api {
    font-size: 1.5rem;
    margin-top: 1rem;
    list-style: inside;
    font-family: 'Open Sans',sans-serif;
    color: var(--azul-5);
    line-height: 2rem;
}

/*Responsividade*/
@media (max-width: 769px) {
    header {
        display: inline;
    }
    
    h1 {
        margin: auto;
        width: 100%;
        padding: 2rem 0;
        text-align: center;
    }
    
    img.logo {
        max-width: calc(100% - 4rem);
    }

    .container-input {
        width: 100%;
    }
    
    .input {
        margin: auto;
        width: 80%;
    }
   
    .principal {
        margin: 2rem;
        padding: 1rem 2rem;
    }
    
    h2 {
        font-size: medium;
        text-align: justify;
        line-height: normal;
    }
    
    .api {
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    #name-api {
        font-size: 2rem;
        border-top-left-radius: 30px;
    }
    
    .texto-api {
        display: block;
    }
    
    .div-img {
        width: 100%;
        padding: 0;
    }
    
    #movies-api {
        padding: 1rem;
        font-size: medium;
        line-height: normal;
    }
}
